.images-container {
  .columns {
    height: 250px;

  }
  .columns.search-container {
    height: auto;

    form {
      justify-content: flex-end;
      display: flex;

      input, button {
        border-radius: 3px;
        font-size: 16px;
        border: 0.5px solid lightGrey;

      }

      input {
        padding: 1px 10px;
        margin-right: 5px;
      }

      button {
        cursor: pointer;
        background-color: #363636;
        color: white;
        padding: 8px 10px;
        transition: 0.3s ease;

      }
      button:hover {
        color: #363636;
        background-color: white;
      }
    }
  }
}

.columns.is-centered {
  justify-content: center;
  display: flex;
}

.column {
  // border: 3px dotted grey;
  height: 100%;

}

.column .is-4, .column .is-12 {
  height: auto;
}

.column.is-8.image-col {
  justify-content: center;
  display: flex;
  margin: 20px auto;
}

// .favorite-item {}

.art-container {
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;

  .art-image {
    display: flex;
    height: 100%;
    text-align: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    transition: all 3s ease;
    -moz-transition: all 3s ease;
    -ms-transition: all 3s ease;
    -o-transition: all 3s ease;
    -webkit-transition: all 3s ease;

    .subtitle, .placeholder-subtitle  {
      display: flex;
      align-items: center;
      padding: 50px;
      font-size: 12px;
      background-color: #4a4a4a;
      height: 100%;
      width: 100%;
      // display: none;
      // visibility: hidden;
      opacity: 0;
    }

    .subtitle {
      color: white;
    }

    .placeholder-subtitle {
      color: #4a4a4a;
    }
  }
}

.art-container:hover {

}

.art-image:hover {
  transform: scale(1.5);
  // background-size: 200%;
}

.subtitle:hover, .placeholder-subtitle:hover  {
  // display: flex;
  // visibility: visible;
  opacity: 1;
}

.image {
  // height: 500px;
  width: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

.image {
  height: 100%;
  width: auto;
}

.color-box {
  width: 50px;
  height: 50px;
  margin: 20px 0;
  justify-content: center;
  margin: auto;
  display: flex;
}

.color {
  display: flex;
  // display: none;
  padding-top: 10px;
  color: white;
  justify-content: center;
  transition: color 0.3s ease;
}

.color-box:hover + .color {
  color: #5e4968;
}


.fav-icon {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
  cursor: pointer;
  transition: color 0.3s ease;
  color: #5e4968;
  // color: #4a4a4a;
}
.fav-icon:hover {
  color: lightGrey;
}

.label {
  margin-top: 9px;
  margin-right: 10px;
}

.people-col {
  margin-top: 20px;
}
