.search-container {
  .columns {
    height: 250px;
  }
}

.column {
  // border: 3px dotted grey;
  height: 100%;
}

.art-image {
  display: flex;
  height: 100%;
  background-size: cover;
  text-align: center;
  align-items: center;
  justify-content: center;

  .subtitle {
    color: white;
  }
}

.image {
  height: 450px;
  width: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.color-box {
  width: 50px;
  height: 50px;
  margin: 20px 0;
}

.fav-icon {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;

  :hover {
    color: #463257;
  }
}
