.images-container {
  .columns {
    height: 250px;

  }
  .columns.search-container {
    height: auto;

    form {
      justify-content: flex-end;
      display: flex;

      input, button {
        border-radius: 3px;
        font-size: 16px;
        border: 0.5px solid lightGrey;

      }

      input {
        padding: 1px 10px;
        margin-right: 5px;
      }

      button {
        cursor: pointer;
        background-color: #363636;
        color: white;
        padding: 8px 10px;

        &:hover {
          color: #363636;
          background-color: white;

        }
      }
    }
  }
}

.column {
  // border: 3px dotted grey;
  height: 100%;

}

.column.is-8.image-col {
  justify-content: center;
  display: flex;
  margin: 20px auto;
}

.art-image {
  display: flex;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;

  .subtitle {
    color: white;
  }

  .placeholder-subtitle {
    color: #4a4a4a;
  }
}

// .placeholder-image

.image {
  height: 450px;
  width: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image {
  height: 100%;
  width: auto;
}

.color-box {
  width: 50px;
  height: 50px;
  margin: 20px 0;

}

.color {
  display: none;
}

.color-box:hover + .color {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: auto;
}


.fav-icon {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;

  :hover {
    color: #463257;
  }
}

.people-col {
  margin-top: 20px;
}
